{{> header }}
{{> nav }}

<div class="container" style="text-align: center;">
   <h1 class="mainH1">2018 - 2019 BISON</h1>
   <img src='img/Bison-Depth.png' style="max-width: 100%;" alt="Senior Night"/>
   
   <br>
   <br>
   
   <div class="mainH2" style="text-align:center; box-shadow: 5px 5px 0px #a9a9a9; margin-bottom:10px; border: #0c1c3c 1px solid;">Varsity</div>
   <br>
   <div class="row">
      {{#each components.bison}}
      {{#if (eq team "v")}}
      <div class="col-md-4" style="display:flex;justify-content:center;align-items:center;" id="{{lastname}}">
         <div class="grid mask">
            <p>
               {{#if (eq img_dir "y")}}
               <img class="img-responsive" src="img/bison/{{firstname}}{{lastname}}.jpg" alt="{{firstname}} {{lastname}}" style="width:100%; height:100%;" />
               {{else}}
               <img class="img-responsive" src="//lh3.googleusercontent.com/SAx6ywdmNbbGs9vvhDeHrcabgOM5S22QiZuCpYfFHQAVnGQvr7AbwW8mo1otTUxMaFajguMyZ4xgA3w43INvSGIaFfH-J8TJ_bVricR0HRyVoei7ahjSvz3o-gDlydc87F8-2DuElA" alt="{{firstname}} {{lastname}}" style="width:100%; height:100%;" />
               {{/if}}
            </p>
            <div class="mainH4">{{#if (eq is_captain 1)}}<img src="img/captain.png" alt="Captain" /> {{/if}}{{firstname}} {{lastname}}</div>
            <div class="mainH4" style="margin-bottom:8%;">
               {{weight}}lbs - {{grade}}th
            </div>
         </div>
      </div>
      {{/if}}
      {{/each}}
   </div>

   <br>

   <div class="mainH2" style="text-align:center; box-shadow: 5px 5px 0px #a9a9a9; margin-bottom:10px; border: #0c1c3c 1px solid;">All Female Team</div>
   <br>
   <div class="row">
      {{#each components.bison}}
      {{#if (eq team "g")}}
      <div class="col-md-3" style="display:flex;justify-content:center;align-items:center;">
         <div class="grid mask">
            <p>
               {{#if (eq img_dir "y")}}
               <img class="img-responsive" src="img/bison/{{firstname}}{{lastname}}.jpg" alt="{{firstname}} {{lastname}}" style="width:100%; height:100%;" />
               {{else}}
               <img class="img-responsive" src="//lh3.googleusercontent.com/SAx6ywdmNbbGs9vvhDeHrcabgOM5S22QiZuCpYfFHQAVnGQvr7AbwW8mo1otTUxMaFajguMyZ4xgA3w43INvSGIaFfH-J8TJ_bVricR0HRyVoei7ahjSvz3o-gDlydc87F8-2DuElA" alt="{{firstname}} {{lastname}}" style="width:100%; height:100%;" />
               {{/if}}
            </p>
            <div class="mainH4">{{firstname}} {{lastname}}</div>
            <div class="mainH4" style="margin-bottom:8%;">
               {{grade}}th
            </div>
            <br>
         </div>
      </div>
      {{/if}}
      {{/each}}
   </div>

   <br>

   <div class="mainH2" style="text-align:center; box-shadow: 5px 5px 0px #a9a9a9; margin-bottom:10px; border: #0c1c3c 1px solid;">JV</div>
   <br>
   <div class="row">
      {{#each components.bison}}
      {{#if (eq team "j")}}
      <div class="col-md-2" style="display:flex;justify-content:center;align-items:center;" id="{{lastname}}">
         <div class="grid mask">
            <p>
               {{#if (eq img_dir "y")}}
               <img class="img-responsive" src="img/bison/{{firstname}}{{lastname}}.jpg" alt="{{firstname}} {{lastname}}" style="width:100%; height:100%;" />
               {{else}}
               <img class="img-responsive" src="//lh3.googleusercontent.com/SAx6ywdmNbbGs9vvhDeHrcabgOM5S22QiZuCpYfFHQAVnGQvr7AbwW8mo1otTUxMaFajguMyZ4xgA3w43INvSGIaFfH-J8TJ_bVricR0HRyVoei7ahjSvz3o-gDlydc87F8-2DuElA" alt="{{firstname}} {{lastname}}" style="width:100%; height:100%;" />
               {{/if}}
            </p>
            <div class="mainH5">{{firstname}} {{lastname}}</div>
            <div class="mainH5" style="margin-bottom:8%;">
               {{weight}}lbs - {{grade}}th
            </div>
         </div>
      </div>
      {{/if}}
      {{/each}}
   </div>

   <br>
   
   <div class="mainH2" style="text-align:center; box-shadow: 5px 5px 0px #a9a9a9; margin-bottom:10px; border: #0c1c3c 1px solid;">Managers</div>
   <br>
   <div class="row">
      {{#each components.bison}}
      {{#if (eq team "m")}}
      <div class="col-md-2" style="display:flex;justify-content:center;align-items:center;">
         <div class="grid mask">
            <p>
               {{#if (eq img_dir "y")}}
               <img class="img-responsive" src="img/bison/{{firstname}}{{lastname}}.jpg" alt="{{firstname}} {{lastname}}" style="width:100%; height:100%;" />
               {{else}}
               <img class="img-responsive" src="//lh3.googleusercontent.com/SAx6ywdmNbbGs9vvhDeHrcabgOM5S22QiZuCpYfFHQAVnGQvr7AbwW8mo1otTUxMaFajguMyZ4xgA3w43INvSGIaFfH-J8TJ_bVricR0HRyVoei7ahjSvz3o-gDlydc87F8-2DuElA" alt="{{firstname}} {{lastname}}" style="width:100%; height:100%;" />
               {{/if}}
            </p>
            <div class="mainH5">{{firstname}} {{lastname}}</div>
            <div class="mainH5" style="margin-bottom:8%;">
               {{grade}}th
            </div>
            <br>
         </div>
      </div>
      {{/if}}
      {{/each}}
   </div>
</div>

{{> footer }}
{{> js_footer }}
{{> html_close }}
