{{> header }}
{{> nav }}

<div class="container" style="text-align: center;">
	<h1 class="mainH1">2019 - 2020 Coaches</h1>
	<br>
	<hr class="style13">
	<br>
</div>

<div class="container">
	<div class="row">
		{{#each components.bison-coaches}}

			<div class="col-md-4" style="display:flex;justify-content:center;align-items:center;">
				<div class="grid mask">
					<div style="text-align:center;">
						<p>
								{{#if (eq img_dir "y")}}
									<img class="img-responsive" src="img/coaches/{{firstname}}{{lastname}}.jpg" alt="{{firstname}} {{lastname}}" style="width:100%; height:100%;" />
									</a>
								{{else}}
									<img class="img-responsive" src="img/bison-head.png" alt="{{firstname}} {{lastname}}" style="width:100%; height:100%;" />
									</a>
								{{/if}}
							</a>
						</p>
						<h3>{{firstname}} {{lastname}}</h3>
						<h6>{{title}}</h6>
						<br>
						<br>
					</div>
				</div>
			</div>

		{{/each}}
	</div>

</div>

{{> footer }}
{{> js_footer }}
{{> html_close }}
